<table>
    <tr>
        <td>
            <div id="cell1" onclick=""></div>
        </td>
        <td>
            <div id="cell2" onclick=""></div>
        </td>
        <td>
            <div id="cell3" onclick=""></div>
        </td>
        
    </tr>
    <tr>
        <td>
            <div id="cell4" onclick=""></div>
        </td>
        <td>
            <div id="cell5" onclick=""></div>
        </td>
        <td>
            <div id="cell6" onclick=""></div>
        </td>
        
    </tr>
    <tr>
        <td>
            <div id="cell7" onclick=""></div>
        </td>
        <td>
            <div id="cell8" onclick=""></div>
        </td>
        <td>
            <div id="cell9" onclick=""></div>
        </td>
        
    </tr>
</table>