html,
body {
  background-color: brown;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
}
td {
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}